<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true">
    
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <layout class="ch.qos.logback.classic.PatternLayout">
		<Pattern>
			%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
		</Pattern>
	    </layout>
	</appender>

<!-- 	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/SystemOut.log</file>
		<append>true</append>
		set immediateFlush to false for much higher logging throughput
		<immediateFlush>true</immediateFlush>
		encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender> -->
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>logs/orch23feb/SystemOut.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>logs/orch23feb/SystemOut.%d{yyyy-MM-dd}.log</fileNamePattern>
	        <maxHistory>30</maxHistory>
	        <totalSizeCap>1MB</totalSizeCap>
	    </rollingPolicy>
	    <encoder>
	        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
	    </encoder>
	</appender>
  
	<logger name="com.ibm.tfs.debug" level="debug" additivity="true">
		<appender-ref ref="FILE" />
	</logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
