<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true">
    
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
	    </encoder>
	</appender>

<!-- 	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/SystemOut.log</file>
		<append>true</append>
		set immediateFlush to false for much higher logging throughput
		<immediateFlush>true</immediateFlush>
		encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender> -->
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>logs/tfsOrch.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>logs/tfsOrch.%d{yyyy-MM-dd}.log</fileNamePattern>
	        <maxHistory>30</maxHistory>
	        <totalSizeCap>1MB</totalSizeCap>
	    </rollingPolicy>
	    <encoder>
	        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
	    </encoder>
	</appender>

<!-- 	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/SystemOut.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
			rollover daily
			<fileNamePattern>logs/SystemOut.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			each file should be at most 100MB, keep 60 days worth of history, but at most 20GB
			<maxFileSize>1MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
	        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender> -->
  
	<logger name="com.ibm.tfs.debug" level="debug">
		<appender-ref ref="FILE" />
		<!-- <appender-ref ref="ROLLING" /> -->
	</logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<!-- <appender-ref ref="ROLLING" /> -->
	</root>

</configuration>
